body.about-us-page {
    background-color: #ffffff;
    font-family: Roboto, serif;
    margin: 0;
    padding: 0;
}

.header-inverse {
    background-color: #ffffff;
    color: #000000;
}

.main-header {
    padding: 1em 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    height: 40px;
    /*flex-wrap: wrap;*/
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo img {
    max-height: 30px;
    margin-right: 10px;
}

.logo .company-name {
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

.get-in-touch{
    text-align: right;
}

.get-in-touch .btn {
    background-color: #000000;
    color: #ffffff;
    padding: 0.5em 1em;
    border-radius: 23px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.about-section {
    background-color: #ffffff;
    padding: 2em 0;
}

.about-wrapper {
    display: flex;
    background-color: #000000;
    color: #ffffff;
    padding: 2em;
    border-radius: 10px;
    box-sizing: border-box;
    width: 1400px;
    margin: 0 auto;
    padding: 0 40px; 
}

.left-about-content {
    flex: 1;
    color: #ffffff;
    margin-right: 2em;
    width: 50%;
}

.left-about-content .small-sentence {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.left-about-content h1 {
    font-size: 3.5em;
    margin-bottom: 1em;
}

.left-about-content p {
    margin-bottom: 1em;
}

.rating {
    display: flex;
    align-items: center;
}

.rating .rater-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.rating .rating-details {
    display: flex;
    flex-direction: column;
}

.rating .stars img {
    width: auto;
    height: 20px;
}


.right-about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
}

.image-wrapper {
    position: relative;
}

.about-us-image.first-image {
    position: relative;
    z-index: 1;
    max-width: 100%; /* Ensure the image scales within its container */
}

.about-us-image.second-image {
    position: absolute;
    top: 65px; /* Adjust as needed for overlap effect */
    left: 100px; /* Adjust as needed for overlap effect */
    z-index: 2;
    max-width: 100%; /* Ensure the image scales within its container */
}