body {
    background-color: black;
    font-family: Roboto, serif;
    margin: 0;
    padding: 0;
  }
  
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px; 
    box-sizing: border-box;
}
.icon-small-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;  
    height: 23px; 
    background-color: #000; 
    border-radius: 50%; 
    position: relative;
    left: -10px;
}

.icon-small-container img {
    width: 80%; 
    height: 50%; 
    
    
}
.icon-big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;  
    height: 50px; 
    background-color: #000; 
    border-radius: 50%; 
}

.icon-big-container img {
    width: 80%; 
    height: 50%; 
    object-fit: contain; 
}
.icon-big-container .white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;  
    height: 50px; 
    background-color: #ffffff; 
    border-radius: 50%; 
}

.white-background {
    background-color: #fff; 
}
.btn {
    background-color: #ffffff;
    color: #000000;
    padding: 0.5em 1em;
    border-radius: 23px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}
.btn.black{
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 3em;
    margin-left: 28em;
    
}
.black-icon {
    background-color: #ffffff;
}

.black-icon img {
    filter: invert(1);
}
