* {
    box-sizing: border-box;
}


body {
    background-color: black;
    font-family: Roboto, serif;
    margin: 0;
    padding: 0;
  
    
    
  }
.highlight {
    color: #64CCC5; 
}
  
.wrapper {
    width: 1400px;
    margin: 0 auto;
    padding: 0 40px; 

}

.footer {
    background-color: #000000;
    color: #fff;
    padding: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;;
}

.footer-top {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 2em;
    margin-bottom: 1em;
}
.wrapper-footer {
    width: 1600px;
    height: 400px;

}

.logo-container {
    display: flex;
    align-items: center; 
    margin-bottom: 1.5em; 
    margin-top: 1.5em;
}

.footer-logo img {
    filter: brightness(0) invert(1);
    max-height: 30px; 
    margin-right: 10px; 
}

.company-name {
    color: #fff;
    font-size: 1.5em; 
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.footer-logo {
    display: flex;
    flex-direction: column;
    margin-right: 3em;
    width: 100%;
}

.footer-section.pages {
    margin-left: 3em; 
}
.footer-logo p {
    margin: 0; 
    flex-grow: 1;
    margin-top: 0.5em;
    font-family: Roboto, sans-serif;
}


.footer-section h4 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5em;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

.subscribe-form {
    position: relative; /* Make the container relative */
    display: flex;
    align-items: center;
    width: 100%;
}

.subscribe-form input[type="email"] {
    flex: 1;
    padding: 1em 8em 1em 1.5em; /* Add right padding to make space for the button */
    border-radius: 23px;
    border: none;
 /* Ensure padding is included in the element's width and height */
   
}   
.subscribe-form input[type="email"]::placeholder {
    padding-left: 0; /* Remove left padding from placeholder text */
    font-size: 15px;
}
.subscribe-form .btn {
    position: absolute; /* Position the button inside the input */
    right: 0; /* Align to the right edge of the input */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust vertical centering */
    background-color: #1f1e1e;
    color: #ffffff;
    padding: 01em 1em;
    border-radius: 23px;
    text-decoration: none;
    font-size: 11px;
    border: none; 
    cursor: pointer; 
    margin-right: 0.5em; /* Add margin to the right for spacing */
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding-top: 1em;
    flex-wrap: wrap;
    gap: 2em; 
}

.footer-info, .footer-contact, .footer-address, .social-media {
    flex: 1;
    min-width: 150px; 
}

.footer-info p, .footer-contact p, .footer-address p {
    margin: 0;
    
}

.footer-info p:first-of-type, .footer-contact p:first-of-type, .footer-address p:first-of-type {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.footer-contact a {
    color: #64CCC5;
    text-decoration: none;
}

.social-media {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.social-media img {
    max-height: 35px;

}

.icon-small-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;  
    height: 23px; 
    background-color: #000; 
    border-radius: 50%; 
    position: relative;
    left: -10px;
}

.icon-small-container img {
    width: 80%; 
    height: 50%; 
    
    
}
.icon-big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;  
    height: 50px; 
    background-color: #000; 
    border-radius: 50%; 
}

.icon-big-container img {
    width: 80%; 
    height: 50%; 
    object-fit: contain; 
}
.icon-big-container .white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;  
    height: 50px; 
    background-color: #ffffff; 
    border-radius: 50%; 
}

.white-background {
    background-color: #fff; 
}
.btn {
    background-color: #ffffff;
    color: #000000;
    padding: 0.5em 1em;
    border-radius: 23px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}
.btn.black{
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 3em;
    margin-left: 28em;
    height: 30px;
    width: 170px;
    
}
.black-icon {
    background-color: #ffffff;
}

.black-icon img {
    filter: invert(1);
}


.white-background-small {
    background-color: #fff; 
}
.white-background-small img {
    filter: invert(1);
}

/* Media Queries */
